<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festivals au Japon</title>
  </head>
  <body>
    <ul>
      <% for (let element of festivals) { %>
      <li>
        <a href="/festivals/<%= element._id %>">
          <h1><%= element.name %></h1>
        </a>
        <h2><%= element.location %></h2>
        <h3><%= element.date %></h3>
        <p><%= element.description %></p>
      </li>
      <% } %>
    </ul>
  </body>
</html>
